extends  ../layout/index.pug
block contenido
    main.container.mt-5
        .row    
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="imagen de nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Mauris nec varius nunc. Maecenas sagittis vel mauris venenatis condimentum. Praesent commodo ante et dui ultricies, ut pharetra risus hendrerit. Etiam scelerisque velit eu augue malesuada, sed porta lectus ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam elementum vulputate neque. 
                p Fusce imperdiet, elit a mollis sodales, sapien nibh faucibus tortor, vitae gravida ligula purus ac nulla. Pellentesque vel hendrerit ante, non mattis nibh. Vivamus ac egestas ante. Nullam lacinia tristique lacus, feugiat pellentesque magna vehicula eget. In consectetur ante leo, mollis dapibus erat bibendum et. Maecenas et neque nec sapien blandit egestas.
                p Etiam quis mauris blandit, fermentum lacus id, maximus dolor. Ut diam mi, elementum vitae cursus in, euismod vel augue. Pellentesque volutpat ante et enim viverra, eu faucibus ipsum fringilla.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Ut diam mi, elementum vitae cursus in, euismod vel augue. Pellentesque volutpat ante et enim viverra, eu faucibus ipsum fringilla.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Ut diam mi, elementum vitae cursus in, euismod vel augue. Pellentesque volutpat ante et enim viverra, eu faucibus ipsum fringilla.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Ut diam mi, elementum vitae cursus in, euismod vel augue. Pellentesque volutpat ante et enim viverra, eu faucibus ipsum fringilla.